html, body {
  height: 100%;
}

body {
  background: linear-gradient(0deg, #FF5757 0%, #570047 100%);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.countryCards {
  display: flex; /* Makes the container a flexbox */
  flex-direction: row; /* Align children in a row */
  justify-content: center; /* Center content horizontally */
  gap: 20px; /* Adds space between the cards */
  padding: 20px; /* Adds some padding around the container */
  flex-wrap: wrap; 
}
.App {
  width: 100%;
}


